.bg {
  background-image: url(/public/ai.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  
}

@tailwind base;
@tailwind components;
@tailwind utilities;